.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(213, 140, 255, 0.961);
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  margin-top: 20px;
}
.common {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: white;
  border-radius: 10px;
}

.red {
  background-color: rgba(223, 82, 82, 0.979);
}
.new {
  background-color: rgb(73, 205, 73);
}
.new:hover {
  transform: translate(0, -5px);
  transition: all 0.3s ease-out;
}
.red:hover {
  transform: translate(0, -5px);
  transition: all 0.3s ease-out;
}
.blue {
  background-color: rgba(77, 77, 216, 0.947);
}
.blue:hover {
  transform: translate(0, -5px);
  transition: all 0.3s ease-out;
}
.entity {
  background-color: azure;
}
.yell {
  background-color: rgb(157, 96, 193);
}

.yell:hover {
  transform: translate(0, -5px);
  transition: all 0.3s ease-out;
}
